@page "/login"

<PageTitle>Login</PageTitle>
<div class="login-container">
    <form class="login-form">
        <input type="text" placeholder="Username" required>
        <input type="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
</div>
